extends main_layout
block title 
  cart
block content
  div#main
    div.grid_libre_franklin
      page_headline My Cart
      br
      br
      br
    div.grid_category_page
      each item, i in cart_items
        if (i%6===0)
          div.item_in_cat.first_in_row
            input(id=item.serial_num type='checkbox')
            input(type='image' src=item.item_picture alt='button' onclick='pop_out_item("pop_out' + item.serial_num+'")' width='100rem' height='100rem')
            div.popout_item_cat(id="pop_out" + item.serial_num)
              a.closebtn(href='javascript:void(0)' onclick='closeItem("pop_out' + item.serial_num+'")') ×
              div
                img.insidePic(src=item.item_picture width='150rem' height='150rem')
              div.grid_garet
                div #{item.item_name}
                div #{item.price} NIS
                div Size: #{item.size}
                div Brand: #{item.brand}
                div Year: #{item.manufacture_year}
                div Pickup: #{item.pickup_address}
            if (item.order_ID && item.buyer_email===user)
              credit_card_label item is in your order
        else
          div.item_in_cat
            input(id=item.serial_num type='checkbox')
            input(type='image' src=item.item_picture alt='button' onclick='pop_out_item("pop_out' + item.serial_num+'")' width='100rem' height='100rem')
            div.popout_item_cat(id="pop_out" + item.serial_num)
              a.closebtn(href='javascript:void(0)' onclick='closeItem("pop_out' + item.serial_num+'")') ×
              div
                img.insidePic(src=item.item_picture width='150rem' height='150rem')
              div.grid_garet
                div #{item.item_name}
                div #{item.price} NIS
                div Size: #{item.size}
                div Brand: #{item.brand}
                div Year: #{item.manufacture_year}
                div Pickup: #{item.pickup_address}
            if (item.order_ID && item.buyer_email===user)
              credit_card_label item is in your order
    br
    br
    br
    br
    div.header_container
      input.button.finish_checkout(type='button' value='Add to order' onclick='add_to_order()')
      input.button.finish_checkout(type='button' value='Remove from cart' onclick='remove_from_cart()')
    br
    div.header_container
      input#back_shop_cart.button.finish_checkout(type='button' value='BACK TO SHOPPING' onclick="window.location.href='http://localhost:3000/main_page';")
      div.grid_garet_bold
        credit_card_label Total: #{total_price} NIS
      input#cart_checkout.button.finish_checkout(type='button' value='CONTINUE TO CHECKOUT' onclick="window.location.href='http://localhost:3000/checkout';")